{% extends 'base.html' %}
{% block title %}<title>New Record</title>{% endblock %}
{% block bodytag %} class="records" {% endblock %}
{% block content %}
<div class="center-container">
    <div class="format-form">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table}}
            </table>
            {% if object %}
                <input type="submit" value="Save Record">
            {% else %}
                <input type="submit" value="Add Record">
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}