{% extends 'base.html' %}
{% block title %}<title>All Sellers</title>{% endblock %}
{% block bodytag %} class='sellers' {% endblock %}
{% block content %}

<h1>{{seller.soldBy}}</h1>

{% if seller.price_set.count %}
    <h3>Currently Selling:</h3>
    {% for price in seller.price_set.all %}
        <div>{{price.record}} <b>{{price.price}} {{price.currency}}</b></div>
    {% endfor %}
{% else %}
    <div>all sold out!</div>
{% endif %}
<br>
<a href="{% url 'price_create' seller.id %}"><button>Price a Record</button></a>

{% endblock %}