{% extends 'base.html' %}
{% block title %}<title>Record Detail</title>{% endblock %}
{% block content %}
<div>
    <h1>{{ record.artist }} - {{ record.album }}</h1>
    <h3>{{ record.released }}</h3>
</div>
<div class="flex-container space-around-container">
    <div class="record-detail-left">
        <div class="record-photo-container">
            {% for photo in record.photo_set.all %}
                <img src="{{photo.url}}">
            {% empty %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrIZls0VHBmOrtaeoakb51PzHQwiY553sduQU7h23hvS9sf-O7CX1KAoVkeDkUJ5a2hLY&usqp=CAU">
            {% endfor %}
        </div>
        <div>
            <form action="{% url 'add_photo' record.id %}" enctype="multipart/form-data" method="POST" >
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <button type="submit">Upload Photo</button>
            </form>
        </div>
    </div>
    <div class="record-detail-right">
        <div>
            <form action="{% url 'add_review' record.id %}" method="POST">
                {% csrf_token %}
                {{review_form.as_p}}
                <input type="submit" value="Add Review">
            </form>
        </div>
        <div>
            {% if record.review_set.count %}
            <table>
                {% for review in record.review_set.all %}
                <tr>
                    <td>{{ review.review }}</td>
                    <td>{{ review.rating }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>no reviews yet</p>
            {% endif %}
        </div>
        <div>
            {% if record.genres.count %}
                <h3>Genres</h3>
                {% for genre in record.genres.all %}
                    <p>{{genre.name}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <h3>Add Genres</h3>
            {% if genres.count %}
                {% for genre in genres.all %}
                    <div>
                        {{genre.name}} 
                        <form action="{% url 'add_genre' record.id genre.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Add</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p>all existing genres have been added to this record, maybe add some more genres</p>
            {% endif %}
        </div>
    </div>    
</div>

{% endblock %}