{% extends 'base.html' %}
{% block title %}<title>About</title>{% endblock %}
{% block bodytag%} class='about' {% endblock %}
{% block content %}
<div class="about-flex-container">
    <div class="about-left">
        <div class="about-mini-title">
            <div>
                <div>honoring</div><div>your</div>
            </div>
            <div>
                <div>c</div>
                <div>o</div>
                <div>l</div>
                <div>l</div>
                <div>e</div>
                <div>c</div>
                <div>t</div>
                <div>i</div>
                <div>o</div>
                <div>n</div>
            </div>
        </div>
        <div class="about-text">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ad architecto aut soluta corrupti aspernatur error, dolorum modi accusamus explicabo magni, sed, nostrum ut nisi minima nobis ipsum non labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, commodi nisi? Illum quo suscipit nam mollitia fuga! Repudiandae, obcaecati, accusantium atque magni ipsa ducimus repellendus adipisci recusandae, sunt ipsum qui.
            </div>
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut distinctio corporis aperiam dignissimos unde numquam nesciunt accusantium. Voluptate est id illo dolores veniam. Repellat fugiat maiores non illum. Numquam, alias? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quas ad laborum corrupti earum neque voluptas sequi nobis incidunt, optio placeat, labore aut, similique odio inventore provident ipsa ex quos?
            </div>
        </div>
    </div>
    <div class="about-right">
        <div class="about-img-container">
            <img src="https://images.pexels.com/photos/6862587/pexels-photo-6862587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
    </div>
</div>
{% endblock %}