{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body {% block bodytag %}{% endblock %} >
    <nav>
        <div class="nav-left"><a href="/">home</a></div>
        <div class="nav-center"></div>
        <div class="nav-right">
            <a href="{% url 'about' %}" data-active-link="{{activeLink}}" data-color="{{dataColor}}" id="about">About</a>
            <a href="{% url 'sellers_index' %}" data-active-link="{{activeLink}}" data-color="{{dataColor}}"  id="sellers">Sellers</a>
            <a href="{% url 'genres_index' %}" data-active-link="{{activeLink}}" data-color="{{dataColor}}"  id="genres">Genres</a>
            <a href="{% url 'index' %}" data-active-link="{{activeLink}}" data-color="{{dataColor}}"  id="records">Records</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>