{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left"><a href="/"><img src="https://i.imgur.com/7XaKVSO.png"></a></div>
        <div class="nav-center"></div>
        <div class="nav-right">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'records_create' %}">Add a Record</a>
            <a href="{% url 'index' %}">All Records</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>