{% extends 'base.html' %}
{% block title %}<title>Records Collector</title>{% endblock %}
{% block bodytag%} class='home-pg' {% endblock %}
{% block content %}

<div>
    <div class="home-pg-title">
        MUSIC
    </div>
    <div class="home-pg-record-gif" >
        <img src="https://www.lovethispic.com/uploaded_images/9701-Record-Spinning.gif?1">
    </div>
    <div  class="home-pg-title title-below">IS LIFE</div>
</div>
<div class="home-pg-text">
    <div class="home-pg-mini-title">
        <div><span>C</span><span>O</span><span>L</span><span>L</span><span>E</span><span>C</span><span>T</span><span>.</span></div>
        <div>CATALOUGE.</div>
        <div><span>C</span><span>U</span><span>R</span><span>A</span><span>T</span><span>E</span><span>.</span></div>
    </div>
    <div class="home-pg-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt delectus eius dignissimos natus quos, quas aspernatur voluptate blanditiis quia quaerat sequi praesentium. Ullam totam aut eius iste facere! Consectetur, corrupti!
    </div>
</div>
{% endblock %}

