body {
    padding: 0 3rem;
    text-align: center;
    font-family: 'Circular-Loom';
}

.home-pg {
    background-color: rgb(229, 89, 55);
    color: rgb(255,233,115);
    height: 100%;
}

.home-pg-title {
    font-size: 225px;
    text-align: right;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 5rem;
    margin: 1rem 1rem 1rem 0;
}

.nav-right a {
    margin-left: 1rem;
}

.record-title {
    padding: 1rem;
}

.about {
    background-color:  rgb(255,233,115);
}